<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ba1cbdf0bb.js" crossorigin="anonymous"></script>
    <title>My Team</title>
</head>

<body>
    <div class="container-fluid">

        <div class="p-3 mb-2 text-white" style="background-color: #E84855;">
            <div class="h2 text-center py-3">My Team</div>
        </div>
    </div>

    <div class="container mt-5 ">

        <div class="row d-flex justify-content-center" id="cardHolder">
            @AddTeamCards
        </div>
    </div>
</body>

</html>