<div class="m-3" id="empCard">
    <div class="card text-white shadow mb-3" style="max-width: 18rem;min-width: 15rem;">
        <div class="card-header bg-primary">
            <div class="h4">@Name</div>

            <div class="h5"><i class="fas fa-mug-hot h4 pr-2"></i>@Title</div>
        </div>

        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item text-body">ID: <span>@ID</span></li>
                <li class="list-group-item text-body">Email: <span class="text-primary">@Email</span></li>
                <li class="list-group-item text-body">Office Number: <span>@OfficeNumber</span></li>
            </ul>
        </div>
    </div>
</div>